/*Fuente suave*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
/*font-family: 'Inter', sans-serif;*/
/*Fuente pesada*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/*font-family: 'Inter', sans-serif;*/




/*Colores principales*/
:root{
    --azul-primario:#0A3871;
    --fondo:#F3F5FC;
}



*{
    margin: 0%;
    padding: 0%;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.primera_seccion{
    width: 70%;
}

.header{
    width: 95%;
    height: 8%;
    margin: 2% auto;
}

.header img{
    width:15%;
    height: 100%;
    margin: auto;
}

.texto{
    width: 85%;
    height: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.texto_form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.texto_form input{
    width: 90%;
    height: 30%;
    margin: auto;
    background: rgba(230, 230, 250, 0);
    border: 2px solid rgba(105, 255, 255, 0);
    color: var(--azul-primario);
    /*text-align: left;*/
    vertical-align: bottom;
    top: 2%;
    font-size: larger;
    /*Quitar borde del input*/
    outline: none;
}

.texto_form ::placeholder{
    color: var(--azul-primario);
}

.texto_form button{
    width: 40%;
    height: 7%;
    margin: auto;
}


/*Botones*/

.boton_azul{
    border: 2px solid var(--azul-primario);
    background: var(--azul-primario);
    color: var(--fondo);
    width: 10%;
    border-radius: 15px;
}


.boton_blanco{
    background: #f3f5fc00;
    color: var(--azul-primario);
    width: 10%;
    border: none;
    border: 2px solid var(--azul-primario);
    border-radius: 15px;
}




.resultados{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    width: 25%;
    height: 90%;
    border-radius: 20px;
    margin: auto;
}

.no_resultados{
    margin: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.resultados .imagen{
    width: 90%;
    height: 70%;
    margin: auto;
}

.resultados .imagen img{
    width: 100%;
    height: 100%;
}




@media (max-width: 500px){

    .container{
        flex-direction: column;
        flex-wrap: wrap;
        height: 0%;
    }

    .primera_seccion{
        width: 100%;
        height: 150vh;
    }

    .header{
        width: 20%;
        height: 5%;
    }

    .header img{
        width: 100%;
        height: 100%;
    }

    .texto{
        width: 90%;
    }

    .boton_azul{
        width: 45%;
    }

    .boton_blanco{
        width: 45%;
    }

    .resultados{
        width: 90%;
        margin: 5vh auto;
    }
    
}
